### Android ###
# Built application files
*.apk
*.ap_

# Gradle files
.gradle
/build

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

/.idea/workspace.xml
/.idea/libraries
.DS_Store

/captures
